/* Helvetica's x-height is 0.53 * font-size; line-height = 0.53 * (1 + phi) */
/* achieves (line-height - x-height) / x-height = phi. */
* { font-family: helvetica, arial; font-size: 24px; line-height: 1.39; }

/* Helvetica's baseline is 0.43 * font-size above its bottom edge; lowering */
/* baseline to bottom edge allows control of baseline-to-baseline distance. */
h1, h2, p { position: relative; top: 0.43em; }

/* Set left-margin to line-height * phi. */
body { background: #e8eeee; color: #135; margin: 1.39em 2.25em; max-width: 30em; }

h1 { font-weight: 300; font-size: 48px; margin: 0; }
h2 { font-weight: 200; margin: 2em 0 0; text-transform: uppercase; }
p { margin: 1.39em 0; }
a { text-decoration: none; color: inherit; opacity: 0.7; }
a:hover { color: #000000; opacity: 1; }
